@import "general.scss";

.cube {
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: aliceblue;
}

.cube .vm {
    position: absolute;
    display: block;
    border: none;
    outline: none;
    height: 100%;
    box-sizing: border-box;
    --headerHeight: 80px;
}

.inkblot {
    position: absolute;
    width: 100%;
    height: 100%;
}

.inkblot textarea.bubble {
    position: absolute;
    margin: 0 auto;
    display: block;
    top: var(--headerHeight); 
    bottom: 0; left: 0; right: 0;
    background-color: transparent;
    font-family: var(--bubbleFont);
    font-size: normal;
    border-color: rgba(63, 63, 63, 0.2);
    /* border: solid gray 1px; */
    /* border: none; */
    outline: none;
    min-width: 70%;
    width: 300px;
    max-width: 100%;
    height: calc(100% - var(--headerHeight));
    resize: none;
}

.linear {
    height: 100%;
}

/* .cube-new .head input {
    width: 400px;
    height: 30px;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    padding: 0;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    text-align: center;
    line-height: calc(30px / 2);
    font-family: var(--headFont);
}

.cube-new .head .dash-line {
    top: 0; right: 0; bottom: 0; left: 0;
    position: absolute;
    margin: 0 auto;
    width: calc(400px / 2);
    height: 0;
    top: calc(50% + 30px / 2 - 2px);
    border-bottom: solid 1px rgba(168, 179, 189, 1);
} */


.inkblot .head input,
.linear .head input {
    width: 100%;
    min-height: 10%;
    height: var(--headerHeight);
    position: relative;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: 0 auto;
    /* margin: 2.5% auto; */
    padding: 0;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    text-align: center;
}

.inkblot .head input {
    /* line-height: 60px; */
    font-family: var(--headFont);
    font-size: x-large;
    font-style: normal;
    font-weight: 0.9;
}

.linear .head input {
    /* line-height: 60px; */
    font-family: var(--headFont);
    font-size: xx-large;
    font-style: normal;
    font-weight: normal;
}

.linear .head .dash-line {
    display: none;
}

.linear .node-group {
    position: relative;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: 0 auto;
    height: auto;
    min-width: 70%;
    width: 400px;
    max-width: 100%;
}

.linear .node-group .node {
    position: relative;
    height: calc(var(--size-button) + 4px);
}

.linear .node-group .node input {
    --horizontal-margin: 3px;
    display: inline;
    position: absolute;
    top: 0;
    right: 0;
    margin: 2px var(--horizontal-margin) 1px;
    padding: 0 1%;
    width: calc(100% - var(--size-button) - var(--horizontal-margin) * 2);
    height: calc(var(--size-button) - 1px);
    line-height: calc(var(--size-button) - 1px);
    font-size: calc(var(--size-button) * 0.6);
    background-color: var(--lightColor);
    border-style: solid;
    border-color: var(--borderColor);
    box-shadow: none;
}


/* Dropdown */

.dropdown { 
    display: inline; 
    position: absolute; 
    top: 0;
    left: 0;
    outline: none;
    height: var(--size-button);
    width: var(--size-button);
    margin: 1px 0;
} 

.dropbtn { 
    position: relative;
    top: 0;
    background-color: var(--dropdownColor); 
    color: white; 
    height: var(--size-button);
    width: var(--size-button);
    padding: calc(var(--size-button) * 0.2); 
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer; 
    border-radius: calc(var(--size-button) / 12);
} 

.dropbtn img,
.dropdown-content div img {
    width:  calc(var(--size-button) * 0.6);
    height: calc(var(--size-button) * 0.6);
}

.dropdown-content { 
    display: none; 
    position: absolute; 
    background-color: var(--optionColor); 
    box-shadow: 0px 8px 8px  
        0px rgba(0, 0, 0, 0.2); 
    z-index: 0; 
} 

.dropdown-content div { 
    color: black; 
    padding: calc(var(--size-button) / 6) calc(var(--size-button) / 4);
    margin: 0; 
    text-decoration: none; 
    display: inline-flex; 
    outline: none;
} 

.dropdown-content div:hover { 
    background-color: var(--optionHoverColor);
} 


.dropdown:hover .dropdown-content { 
    display: inline-block; 
    min-width: var(--size-button) / 2; 
    z-index: 1; 
} 

.dropdown:hover .dropbtn { 
    background-color: var(--dropdownHoverColor); 
} 

