@import "general.scss";

.vm-container {
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: aliceblue;

    .vm {
        position: absolute;
        display: block;
        border: none;
        outline: none;
        height: 100%;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        --headerHeight: 80px;

        .btn-close {
            position: absolute;
            top: 0;
            right: 0;
            width: var(--size-btn-small);
            height: var(--size-btn-small);
            border-radius: calc(var(--size-btn-small) / 2);
            border: none;
            margin: 2px;
            padding: 0;
            text-align: center;
            line-height: calc(var(--size-btn-small) * 1);
            background-color: rgba(212, 48, 48, 0.5);
            color: white;
            
        }
        .btn-close:hover {
            background-color: rgba(212, 48, 48, 0.75);
        }
    }
}

.inkblot .head input,
.clause-tree .head input {
    width: 100%;
    min-height: 10%;
    height: var(--headerHeight);
    position: relative;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: 0 auto;
    /* margin: 2.5% auto; */
    padding: 0;
    background-color: rgba(0,0,0,0);
    border: none;
    outline: none;
    text-align: center;
}

.inkblot {
    position: absolute;
    width: 100%;
    height: 100%;

    .head input {
        /* line-height: 60px; */
        font-family: var(--headFont);
        font-size: x-large;
        font-style: normal;
        font-weight: 0.9;
    }
    
    textarea.bubble {
        position: absolute;
        margin: 0 auto;
        display: block;
        top: var(--headerHeight); 
        bottom: 0; left: 0; right: 0;
        background-color: transparent;
        font-family: var(--bubbleFont);
        font-size: normal;
        border-color: rgba(63, 63, 63, 0.2);
        /* border: solid gray 1px; */
        /* border: none; */
        outline: none;
        min-width: 70%;
        width: 300px;
        max-width: 100%;
        height: calc(100% - var(--headerHeight));
        resize: none;
    }
}

.clause-tree {
    height: 100%;

    .head input {
        /* line-height: 60px; */
        font-family: var(--headFont);
        font-size: xx-large;
        font-style: normal;
        font-weight: normal;
    }
    
    .node-view {
        position: relative;
        top: 0; right: 0; bottom: 0; left: 0;
        margin: 0 auto;
        height: auto;
        min-width: 70%;
        width: 400px;
        max-width: 100%;
        
        .node {
            position: relative;
            height: calc(var(--size-button) + 4px);
            
            input {
                --horizontal-margin: 3px;
                display: inline;
                position: absolute;
                top: 0;
                right: 0;
                margin: 2px var(--horizontal-margin) 1px;
                padding: 0 1%;
                width: calc(100% - var(--size-button) - var(--horizontal-margin) * 2);
                height: calc(var(--size-button) - 1px);
                line-height: calc(var(--size-button) - 1px);
                font-size: calc(var(--size-button) * 0.6);
                background-color: var(--lightColor);
                border-style: solid;
                border-color: var(--borderColor);
                box-shadow: none;
            }
        }
    }
}
    
    
/* Dropdown */

.symbol { 
    display: block; 
    position: absolute; 
    top: 0;
    left: 0;
    outline: none;
    height: var(--size-button);
    width: var(--size-button);
    margin: 1px 0;
    
    .symbol-text {
        position: absolute;
        top: 0;
        left: 0;
        color: black; 
        width: var(--size-button);
        height: var(--size-button);
        text-align: center;
        line-height: calc(var(--size-button) - 2px);
    }

    .dropbtn { 
        position: relative;
        top: 0;
        background-color: transparent; 
        color: white; 
        height: var(--size-button);
        width: var(--size-button);
        padding: calc(var(--size-button) * 0.2); 
        margin: 0;
        border: none;
        outline: none;
        cursor: pointer; 
        border-radius: calc(var(--size-button) / 12);
    } 
    
    .dropbtn.process {
        background-color: var(--dropdownColor); 
    }

    .dropbtn img,
    .dropdown-content div img,
    .dropdown-content div span {
        width:  calc(var(--size-button) * 0.6);
        height: calc(var(--size-button) * 0.6);
    }
    
    .dropdown-content { 
        display: none; 
        position: absolute; 
        background-color: var(--optionColor); 
        box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2); 
        z-index: 0; 
        
        div { 
            color: black; 
            padding: calc(var(--size-button) / 6) calc(var(--size-button) / 4);
            margin: 0; 
            text-decoration: none; 
            display: inline-flex; 
            outline: none;

            span {
                position: relative;
                text-align: center;
                cursor: default;
                line-height: calc(var(--size-button) * 0.6);
            }
        }
        
        div:hover { 
            background-color: var(--optionHoverColor);
        } 
    } 
    
    
} 

.symbol:hover {
    .dropdown-content { 
        display: inline-block; 
        min-width: var(--size-button) / 2; 
        z-index: 1; 
    } 
    .dropbtn.process { 
        background-color: var(--dropdownHoverColor); 
    }
} 
