@import "general.css";

.history {
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: aliceblue;
}

/* SnapShot */

.history .snapshot-button
{
    --size-border: 2px;
    --ratio-button: 1.5;
    --width: calc(var(--size-button) * 16);

    position: relative;
    top: 0; 
    left: calc(50% - var(--width) / 2);
    height: calc(var(--size-button) * var(--ratio-button) * 1.6);
    width: var(--width);
    margin: calc(1% + 10px) auto;
    padding: 1px;

    outline: none;
	border: solid var(--dividerColor) var(--size-border);
    border-radius: calc(var(--size-border) * 4);
    background-color: var(--mainColor);
}

.history .snapshot-button span {
    --history-span-height: calc(var(--size-button) * 0.5 * var(--ratio-button));
    position: relative;
    top: calc(var(--history-span-height) * -0.25);
    height: var(--history-span-height);
    font-size: var(--history-span-height);
    font-family: var(--adviceFont);
    line-height: var(--history-span-height);
}

.history .snapshot-button img
{
    --history-img-height: calc(var(--size-button) * 0.7 * var(--ratio-button));
    position: relative;
    top: calc(var(--history-img-height) * 0.1);
    height: var(--history-img-height);
    width: var(--history-img-height);
    margin: 0;
    margin-right: calc(var(--size-button) * var(--ratio-button) * 0.1);
}

.history .snapshot-button:hover {
    background-color: var(--emphasizeColor);
}

/* Node */

.history .node-group {
    position: relative;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: 0 auto;
    /* margin: 60px auto; */
    height: auto;
    width: 60%;
    /* border: solid 4px green; */
}

.history .node-group .node {
    --horizontal-margin: 3px;
    position: relative;
    /* top: 0; */
    height: calc(var(--size-button) + 4px);
    /* border: solid 1px green; */
}

.history .node-group .node span {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    margin: 2px var(--horizontal-margin) 1px;
    padding: 0 1%;
    width: calc(100% - var(--size-button) * 2 - var(--horizontal-margin) * 3);
    height: calc(var(--size-button) - 1px);
    line-height: calc(var(--size-button) - 1px);
    font-size: calc(var(--size-button) * 0.6);
    text-align: center;
    background-color: var(--lightColor);
    border-style: solid;
    border-color: var(--borderColor);
    box-shadow: none;
}


.history .node-group .node button { 
    display: inline; 
    position: absolute; 
    top: 0;
    border: none;
    outline: none;
    margin: 0;
    border-radius: calc(var(--size-button) / 12);
    cursor: pointer; 
    padding: calc(var(--size-button) * 0.2); 
    height: var(--size-button);
    width: var(--size-button);
    margin: 1px 0 var(--horizontal-margin);
    background-color: var(--dropdownColor);
} 

.history .node-group .node button:hover {
    background-color: var(--dropdownHoverColor);
}

.history .node-group .node button img { 
    width:  calc(var(--size-button) * 0.6);
    height: calc(var(--size-button) * 0.6);
} 

.history .node-group .node .visit-button { 
    right: calc(var(--size-button) + var(--horizontal-margin));
    /* border-radius: calc(var(--size-button) / 12); */
    /* width: calc(24px * 6);
    margin-right: calc(-24px * 5); */
} 

.history .node-group .node .delete-button { 
    right: 0;
} 