* {
    box-sizing: border-box;
}

html,
body {
	margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    /* display: grid;
    grid-template-columns: 50px auto;
    grid-template-rows: 1fr 20px;
    grid-gap: 0; */

    --len-left-sidebar: 50px;
    --len-status-bar: 20px;

    --mainColor: rgba(216, 230, 236, 0.829);
    --backColor: rgba(217, 229, 235, 0.541);
    /* --tabColor: rgba(216, 230, 236, 0.829); */
    --emphasizeColor: rgba(238, 244, 247, 0.829);
    --dividerColor: rgba(10, 55, 77, 1);

    --mainFont: cursive, 'Times New Roman', serif;
    --assistiveFont: 'Times New Roman', Times, serif;
}

/* Scroll Bar */
body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: #a8a8a8;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #f1f1f1;  /* creates padding around scroll thumb */
}
body::-webkit-scrollbar-thumb:hover {
    background-color: #c2c2c2;    /* color of the scroll thumb */
}


.frame {
	border: solid var(--dividerColor) 2px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: absolute;
    font-family: var(--mainfont);
    display: block;
}

.frame#left-sidebar {
    background-color: var(--backColor);
    height: calc(100% - var(--len-status-bar));
    width: var(--len-left-sidebar);
    left: 0;
    top: 0;
    /* margin-right: -1px; */
    border-right: none;
}

.frame#main-editor {
    height: calc(100% - var(--len-status-bar));
    width: calc(100% - var(--len-left-sidebar));
    top: 0;
    right: 0;
}

.frame#status-bar {
    height: var(--len-status-bar);
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: none;
	/* border-left: solid var(--dividerColor) 2px; */
    /* margin-top: -1px; */
    background-color: var(--backColor);
}



.tab::before {
    content: " ";
    display: block;
    padding-top: 100%;
}

.tab {
    position: relative;
    background-color: var(--mainColor);
    border-bottom: 2px solid var(--dividerColor);
    list-style-type: none;
}

.tab.tab-bottom::before {
    content: " ";
    display: block;
    padding-top: 0;
    padding-bottom: 100%;
}

.tab.tab-bottom {
    border-bottom: none;
    border-top: 2px solid var(--dividerColor);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto
}

.tab .tab-content {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    /* width: auto; height: auto;
    margin: auto; */
}

.tab .tab-content img {
    width: 48%;
    height: auto;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    margin: auto;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.tooltip {
    visibility: hidden;
    width: auto;
    background-color: grey;
    color: #fff;
    text-align: center;
    padding: 3px 6px;
    border-radius: 4px;

    font-size: 10pt;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    /* top: calc(50% - 6px); */
    bottom: 0%;
    left: 105%; 
  }

.tab .tab-content:hover {
    background-color: var(--emphasizeColor);
}
.tab .tab-content:hover .tooltip {
    visibility: visible;
}


/* Src Button */

#status-bar .status-bar-button
{
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 1px;
    height: calc(var(--len-status-bar) - 2px);
    width: 112px;
    border: none;
    outline: none;
	border-right: solid var(--dividerColor) 2px;
    background-color: var(--mainColor);
}

#status-bar .status-bar-button span {
    position: relative;
    top: -1px;
}

#status-bar .status-bar-button img
{
    position: relative;
    top: 1px;
    margin: 0;
    height: calc(var(--len-status-bar) * 0.7);
}

#status-bar .status-bar-button:hover {
    background-color: var(--emphasizeColor);
}
